In [1]:
import numpy as np
import pandas as pd

#### Data Input and Output

In [17]:
url = "https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv"

df = pd.read_csv(url)

df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [7]:
df.to_csv('example9.csv',index=False)
!ls

NumPy.ipynb                      Pandas.ipynb
Numpy Slicing and Indexing.ipynb dataset
Pandas 2.ipynb                   example9.csv

#### Read from html

In [8]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.html')

In [13]:
df[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"

#### Sqlite / DB reading

#### excel i/o

In [21]:
df = pd.read_excel('dataset/Excel_Sample.xlsx',sheet_name='Sheet1')

#### Write to excel

In [24]:
df.to_excel("abc.xlsx",index=False,sheet_name='Sheet1')

In [25]:
ls

NumPy.ipynb                       abc.xlsx
Numpy Slicing and Indexing.ipynb  dataset/
Pandas 2.ipynb                    example9.csv
Pandas.ipynb